*{
	margin:0px;
	padding:0px;
}

.App{
	background:grey;
	height:100vh;

	
}

.TitleApp{
	text-align:center;
	color:white;
}

.AreaSelect{
	background:#0086b3;
	padding:10px;
}
.ListItem{
	
	overflow-y:scroll;
	height:230px;
	background:#0086b3;
}

.list-group-item{
	
}

.list-group-item a{
	text-decoration:none;
	color:black;
	font-size:20px;
}

.DataSelect, .SelectDigimon{
	background:#4d4d4d;
	padding:10px;
}

.footer{
	background:#0086b3;
	color:white;
	text-align:center;
}